
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 1.0rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: rgba(156, 219, 97, 0.623);
  padding: .4em 0;
  color: rgb(49, 141, 194);
  margin: 0;
}
